extends layout.pug 

block content
    form.add-board(method="get" action="/boards/new")
        button.add-board-btn Create a Board
    if boards.length > 0
        ul Boards List
        for board in boards 
            li: a.board-container(href=`/boards/${board.id}`)=board.name
    else 
        p You have no boards :(